body{
  height: 100%;
  padding: 0;
  margin: 0;
  background: darkgrey
}

#loginScreen{
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#closetChoiceScreen{

}
#closetScreen{
    
}